{% extends 'layout.html.twig' %}

{% block title 'Resultados - Torneo7' %}

{% block content %}
    <h2 class="well">Resultados del torneo</h2>
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th class="col-md-2">Fecha</th>
            <th class="col-md-4">Equipo local</th>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th class="col-md-4">Equipo visitante</th>
        </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.fechaCelebracion | date('d/m/Y') }}</td>
                <td {% if partido.marcadorLocal > partido.marcadorVisitante %}class="success"{% endif %}>{{ partido.equipoLocal }}</td>
                <td>{{ partido.marcadorLocal }}</td>
                <td>{{ partido.marcadorVisitante }}</td>
                <td {% if partido.marcadorLocal < partido.marcadorVisitante %}class="success"{% endif %}>{{ partido.equipoLocal }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
